<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google materialize css -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <!-- font awesome icons for social media icons only -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Spider8019</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    <navbar>
        <p style="font-family:Train One">SPIDER8019</p>
        <ul><li><a href="https://www.instagram.com/spider8019/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com/aman.pratapsingh.311493/"><i class="fab fa-facebook-f"></i></a></li>
        </ul>
    </navbar>