<%- include('./partials/header'); -%>
<body>
    <div class='linkcontainer'>
       <a href="/gitCmd" class="link">
           GIT
       </a>
       <a href="/herokucmd" class="link">
           HEROKU
       </a>
       <a href="/gitCmd" class="link">
           CMD
       </a>

    </div>
    <script>
        var HomePageLinks=document.getElementsByClassName("link");
        for(var i=0;i<HomePageLinks.length;i++)
        {   var bg='#'+Math.floor(Math.random()*16777215).toString(16);
            HomePageLinks[i].style.background=bg;
        }
    </script>
</body>
</html>